name: CI

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/_build.yml
    with:
      retention-days: 30
    permissions:
      contents: read
      id-token: write
      attestations: write
